<%- include('./partials/head') %>
<%- include('./partials/header') %>
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <section>
                <form action="/users/login" method="POST">
                    <h2 class="products-title">login</h2>
                    
                    <div>
                        <label >Mail:</label>
                        <input type="email" name="Mail">
                    </div>
                    <div>
                        <label >Contrasena:</label>
                        <input type="password" name="contra">
                        <input type="checkbox" name="recordar" id="recordarme"> Recordar?
                        
                    </div>
                    <button type="submit">ENVIAR</button>
                </form>
            </section>
        </div>
        <%- include('./partials/footer') %>