<%- include('./partials/head') %>
<%- include('./partials/header') %>
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <section>
                <form action="/login" method="post">
                    <h2 class="products-title">login</h2>
                    
                    <div>
                        <label >usuario:</label>
                        <input type="text" name="user">
                    </div>
                    <div>
                        <label >Contrasena:</label>
                        <input type="password" name="contra">
                    </div>
                    
                </form>
            </section>
        </div>
        <%- include('./partials/footer') %>