
<%- include('./partials/head') %>
<%- include('./partials/header') %>
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title"> Subir producto</h2>

            <section>
                <form action="/camisetas/cargar" method="post">
                    <div>
                        <label> imagen:</label>
                        <input type="text" id="imagen" name="imagen">
                        
                    </div>
                    <div>
                        <label >nombre:</label>
                        <input type="text" name="nombre" >
                    </div>
					<div>
                        <label >descripcion:</label>
                        <input type="text" name="descripcion">
                    </div>                    
                    <br>
                    
					<div>
						<input type="submit" value="ENVIAR">                     
					</div>
                </form>
                <% if (locals.errors) { %>
                    <p><%= locals.errors.mensaje %></p>
                   <% } %>
            </section>
        </div>
       
        

        <%- include('./partials/footer') %>
       


	